# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log# Ignore report folder
Report/

# Ignore SQLite database
backend/ai_interview.db
*.db